In [1]:
print("hello")

hello

In [36]:
a=20.7
b=2.5
#a+b output
print("+") 
print(a+b)

print("-")
print(a-b)

print("*")
print(a*b)

print("/")
print(a/b)

print("**")
print(a**b)

print("//")
print(a//b)

+
23.2
-
18.2
*
51.75
/
8.28
**
1949.5117794129892
//
8.0

In [34]:
a="Hazel"
print(a+a)
print(a*3)
#a-a error unsupported operand type(s) for -: 'str' and 'str'

#a*a error

HazelHazel
HazelHazelHazel

In [12]:
name="Leo"
surname="Valdez"
print(name+" "+surname)

Leo Valdez

In [41]:
n1=7
n2=9

print(f"n1 = {n1}")
print(f"n1 = {n2}")
print(f"n1>n2 {n1>n2}")
print(f"n1<n2 {n1<n2}")
print(f"n1>=n2 {n1>=n2}")
print(f"n1<=n2 {n1<=n2}")
print(f"n1==n2 {n1==n2}")

n1 = 7
n1 = 9
n1>n2 False
n1<n2 True
n1>=n2 False
n1<=n2 True
n1==n2 False

In [44]:
if(n1>n2):
    print(f"n1:{n1} > n2:{n2}")
else:
    print(f"n1:{n1} <= n2:{n2}")

n1:7 <= n2:9

In [83]:
list1 = [1,2,3,4,5,6,7,8]
print(list1)
print(list1[0])
print(list1[2]+2)
print(list1[1::2])

[1, 2, 3, 4, 5, 6, 7, 8]
1
5
[2, 4, 6, 8]

In [95]:
print(list1[-1::-1])
print(list1[::-1])
print(list1[-1::2])
print(list1[-1::-2])
print(list1[-8::2])
print(list1[-1:-9:-1])
print(list1[8::-1])

[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]
[8]
[8, 6, 4, 2]
[1, 3, 5, 7]
[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]

In [99]:
list2 = [1,2,True, "Piper"]
list2

list2[2]=False
list2

[1, 2, False, 'Piper']

In [97]:
list3 = [1, 3, ["nested list"], ["nested 2", 2.2, True]]
print(list3)
print(list3[3])
print(list3[3][2])
print(list3[1:])
print(list3[2:3])


list3[1]=6
list3

print(list3[3][1:])

[1, 3, ['nested list'], ['nested 2', 2.2, True]]
['nested 2', 2.2, True]
True
[3, ['nested list'], ['nested 2', 2.2, True]]
[['nested list']]
[2.2, True]

In [101]:
tuple1=(1,3,5)
print(tuple1)
#tuple1[1]=2 #error 'tuple' object does not support item assignment
tuple1[0]

(1, 3, 5)

1

In [102]:
dict1 = {'name':'Leo', 'surname':'Valdez'}
dict1

{'name': 'Leo', 'surname': 'Valdez'}

In [118]:
dict2 = {'id':156, 156:{'name':'venu', 'mail': 'venupatel@gmail.com'}}
print(dict2['id'])
print(dict2.get(156).get('mail'))
print(dict2[156]['mail'])

del(dict2['id'])
print(dict2)

156
venupatel@gmail.com
venupatel@gmail.com
{156: {'name': 'venu', 'mail': 'venupatel@gmail.com'}}

In [128]:
x=2

if x<5:
    print("less than 5")
    print(f"x={x}")
elif x>5:
    print("gretaer than 5")
    print(f"x={x}")
else:
    print("equal to 5")
    print(f"x={x}")

less than 5
x=2

In [18]:
n = int(input("Enter age: "))
if n>=18:
    print("Person is eligible of voting")
elif n>12 and n<18:
    print("Person is still teenager")
elif n<0:
    print("Invalid value (negative value not allowed)")
else:
    print("Person is child")

Enter age:  -9

Invalid value (negative value not allowed)

In [41]:
n1 = bool(input("Enter value"))
n2 = bool(input("enter n2"))
print(n1 and n2)
print(True and False)
type(n1)

Enter value 4
enter n2 5

True
False

bool

In [3]:
i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [49]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [48]:
l1 = ["eat", "sleep", "repeat"]

for count, ele in enumerate(l1):
    print (count, ele)

0 eat
1 sleep
2 repeat

In [51]:
lst=["A","B","C","D"]
for ele in lst:
    print(ele)
    if ele=="C":
        break
print("END")
print(len(lst))

A
B
C
END
4

In [50]:
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print(f'Total sum: {total}')

Total sum: 15

In [55]:
def fibo(n):
    a=0
    b=1
    print(a)
    while b<n:
        a, b = b, a+b
        print(b)
n = int(input("Enter number: "))
fibo(n)

Enter number:  50

0
1
2
3
5
8
13
21
34
55

In [56]:
# Function for nth Fibonacci number
def Fibonacci(n):
    if n<= 0:
        print("Incorrect input")
    # First Fibonacci number is 0
    elif n == 1:
        return 0
    # Second Fibonacci number is 1
    elif n == 2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)

# Driver Program

print(Fibonacci(10))

34

In [58]:
lst = [1,2,3,4]
newL = [e+3 for e in lst]
print(newL)

# Numbers =[x for x in range(11)]

[4, 5, 6, 7]