In [1]:
print("hello")

hello

In [36]:
a=20.7
b=2.5
#a+b output
print("+") 
print(a+b)

print("-")
print(a-b)

print("*")
print(a*b)

print("/")
print(a/b)

print("**")
print(a**b)

print("//")
print(a//b)

+
23.2
-
18.2
*
51.75
/
8.28
**
1949.5117794129892
//
8.0

In [34]:
a="Hazel"
print(a+a)
print(a*3)
#a-a error unsupported operand type(s) for -: 'str' and 'str'

#a*a error

HazelHazel
HazelHazelHazel

In [12]:
name="Leo"
surname="Valdez"
print(name+" "+surname)

Leo Valdez

In [41]:
n1=7
n2=9

print(f"n1 = {n1}")
print(f"n1 = {n2}")
print(f"n1>n2 {n1>n2}")
print(f"n1<n2 {n1<n2}")
print(f"n1>=n2 {n1>=n2}")
print(f"n1<=n2 {n1<=n2}")
print(f"n1==n2 {n1==n2}")

n1 = 7
n1 = 9
n1>n2 False
n1<n2 True
n1>=n2 False
n1<=n2 True
n1==n2 False

In [44]:
if(n1>n2):
    print(f"n1:{n1} > n2:{n2}")
else:
    print(f"n1:{n1} <= n2:{n2}")

n1:7 <= n2:9

In [83]:
list1 = [1,2,3,4,5,6,7,8]
print(list1)
print(list1[0])
print(list1[2]+2)
print(list1[1::2])

[1, 2, 3, 4, 5, 6, 7, 8]
1
5
[2, 4, 6, 8]

In [95]:
print(list1[-1::-1])
print(list1[::-1])
print(list1[-1::2])
print(list1[-1::-2])
print(list1[-8::2])
print(list1[-1:-9:-1])
print(list1[8::-1])

[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]
[8]
[8, 6, 4, 2]
[1, 3, 5, 7]
[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]

In [99]:
list2 = [1,2,True, "Piper"]
list2

list2[2]=False
list2

[1, 2, False, 'Piper']

In [97]:
list3 = [1, 3, ["nested list"], ["nested 2", 2.2, True]]
print(list3)
print(list3[3])
print(list3[3][2])
print(list3[1:])
print(list3[2:3])


list3[1]=6
list3

print(list3[3][1:])

[1, 3, ['nested list'], ['nested 2', 2.2, True]]
['nested 2', 2.2, True]
True
[3, ['nested list'], ['nested 2', 2.2, True]]
[['nested list']]
[2.2, True]

In [101]:
tuple1=(1,3,5)
print(tuple1)
#tuple1[1]=2 #error 'tuple' object does not support item assignment
tuple1[0]

(1, 3, 5)

1

In [102]:
dict1 = {'name':'Leo', 'surname':'Valdez'}
dict1

{'name': 'Leo', 'surname': 'Valdez'}

In [118]:
dict2 = {'id':156, 156:{'name':'venu', 'mail': 'venupatel@gmail.com'}}
print(dict2['id'])
print(dict2.get(156).get('mail'))
print(dict2[156]['mail'])

del(dict2['id'])
print(dict2)

156
venupatel@gmail.com
venupatel@gmail.com
{156: {'name': 'venu', 'mail': 'venupatel@gmail.com'}}